@media (max-width: 350px) {
  .simplePage {
    .col {
      padding: 0 15px !important;
      width: 100% !important;
      min-width: 100% !important;
    }
  }
}

.popupTpp {
  .simplePage {
    .simplePageIcon {
      padding-top: 0 !important;
    }
  }
}
